:root {
  --clr-primary: #4fc1fa;
  --clr-primary-dark: #045c88;

  --clr-secondary: white;
  --clr-secondary-dark: #333;
  --clr-accent: red;
  --clr-accent-dark: #971010;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-secondary);
  color: var(--clr-secondary-dark);
}

img {
  max-width: 100%;
}
